@import '../UI/variables';

.Games {
  padding: 20px;
}
.Games--footer {
  padding-top: 40px;
}
.Games--list {
  flex-grow: 1;
}

.Games--game {
  display: flex;
  width: 100%;
  padding: 15px 0;
}
.Games--game + .Games--game {
  border-top: 1px solid #eee;
}
.Games--game-details {
  flex-grow: 1;
}
.Games--game-actions {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Games--game-join {
  margin-left: 20px;
}

.Games--empty {
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  padding: 80px 0;
}

.Games--empty svg {
  font-size: 100px;
  margin-bottom: 25px;
}

.Games--game-name {
  font-size: 24px;
}
.Games--game-host {
  color: #999;
  font-size: 18px;
}

.Games--game-meta {
  margin-top: 10px;
}

.Games--game-meta-box {
  margin: 4px 0;
}

.Games--game-meta-box > span {
  color: #777;
  display: inline-block;
  min-width: 80px;
  font-weight: 300;
}
