@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,600,800&display=swap');
@import '../UI/variables';

* {
  margin: 0;
  padding: 0;
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  color: $color-grayscale-darker;
}

button,
input,
textarea {
  font-family: 'Fira Sans', sans-serif;
  color: $color-grayscale-darker;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.screen {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
