$color-accent: #1971ff;

$color-grayscale: #676767;
$color-grayscale-darker: #343434;
$color-grayscale-lighter: #959595;

$color-green: #34a925;
$color-green-accent: #2fe418;

$color-blue: #0495e6;
$color-blue-accent: #3cb9ff;
